.confirm {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 20px;
    color: #717171;
    background-color: #ededed;
    border: 1px solid;
    border-radius: 24px;
}
  
.confirm__title {
    width: 100%;
    margin: 30px 0;
    font-size: 24px;
    text-align: center;
}
  
.confirm__btn-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.confirm__btn-cancel {
    margin-right: 15px;
}